.navbar {
  background-color: #F77401;
  height: 8vh;
  width: 99vw;
  top: 0;
  display: flex;
  position: sticky;
  margin-top: 0;
}

.libguides {
  height: 8vh;
  margin: 0;
  margin-left: 1em;
  color: #CBCBCB;
  text-shadow: 1px 1px 0.5px black;
  margin-right: 29em;
}

select {
  background-color: #CBCBCB;
  margin-left: 10px;
  border-radius: 0.3em;
  border-color: #F77401;
  font-size: 1em;
  color: #F77401;
  text-shadow: 1px 1px 0.5px black;
  padding: 0.5em;
  cursor: pointer;
}

h2 {
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.welcome {
  margin-left: 18em;
}

.searchInput {
  height: 0.9em;
  margin-top: 1em;
  width: 10em;
  margin-left: 6em;
  cursor: pointer;
}

button {
  font-size: 1.2em;
  padding: 0.2em;
  color: #F77401;
  text-shadow: 1px 1px 0.5px black;
  border-color: #F77401;
  border-radius: 0.3em;
  background-color: #CBCBCB;
  margin-left: 0.2em;
  height: 2em;
  margin-top: 1em;
  cursor: pointer;
}

.guidePrev {
  margin-left: 5em;
  text-align: left;
  padding-left: 2em;
  border: 1px solid #F77401;
  width: 50vw;
  border-radius: 0.3em;
}

.addToProfilebtn {
 height: 7em;
 margin: 0;
 cursor: pointer;
}

.addToProfilebtn:disabled {
  background-color: black;
}

.combine {
  display: flex;
  margin-bottom: 1em;
  margin-left: 8em;
}
