body {
  text-align: center;
  background-color: #CBCBCB;
  text-shadow: 1px 1px 0.5px black;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: #F77401;
}

input {
  background-color: #CBCBCB;
  margin-left: 10px;
  border-radius: 0.3em;
  border-color: #F77401;
  font-size: 1.2em;
  color: #F77401;
  text-shadow: 1px 1px 0.5px black;
  padding: 0.5em;
  cursor: pointer;
}

p {
  margin: 12px;
  font-size: 1.2em;
}

label {
  margin: 12px;
  font-size: 1.2em;
}

.loginBtn {
  font-size: 1.2em;
  padding: 0.5em;
  color: #F77401;
  text-shadow: 1px 1px 0.5px black;
  border-color: #F77401;
  cursor: pointer;
}
